{%extends 'santri/template_main.html'%}
{% block page_title %} Dayahku |Materi Santri{%endblock page_title %}
     
{% block button_materi %}
<li class="nav-item"><a href="/materi" class="nav-link" aria-current="page">Materi</a></li>
{% endblock button_materi %}

{% block button_tugas %}
<li class="nav-item"><a href="/tugas" class="nav-link active " style="background-color:#8566F9" >Tugas</a></li>
{% endblock button_tugas %}

{%block konten%} 
    <h1 style="color: #FFBF59; font-family:Lobster"></h1>
    <p style="color: white" >Disini tugas</p>  
{%endblock konten%}