{% extends 'ustad/template_main.html' %}\
{% load static %}

{% block page_title %}Dayahku| Kelas{% endblock page_title %}

{%block konten%} 
    <h1 style="color: #FFBF59; font-family:Lobster"></h1>
    <p style="color:#8566F9 " >Daftar Kelas</p>  <br>

    {% comment %} Card Tugas {% endcomment %}
    <div class="list-group">
        <a href="materi/" class="list-group-item list-group-item-action d-flex gap-3 py-3 rounded" aria-current="true">
            <img src="{% static 'img/bookmark.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            
            <div class=" gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0 d-flex gap-2 w-100 justify-content-between center" >Kelas Beginner</h6>
              </div>
            </div>
        </a><br>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 rounded" aria-current="true">
            <img src="{% static 'img/bookmark.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            
            <div class=" gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0 d-flex gap-2 w-100 justify-content-between center" >Kelas Intermediate</h6>
              </div>
            </div>
        </a><br>
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3 rounded" aria-current="true">
            <img src="{% static 'img/bookmark.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            
            <div class=" gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0 d-flex gap-2 w-100 justify-content-between center" >Kelas Expert</h6>
              </div>
            </div>
        </a>
    </div>
{%endblock konten%}