{% extends 'ustad/template_login.html' %}

{% block page_title %}Dayahku | Login Ustad{% endblock page_title %}

{% block konten %}
        <div class="col-md-6">
            <div class="h-100 p-5 rounded-3">
                <div class="h-100 p-5 rounded-3">
                    <span class="login100-form-title">
                        Selamat Datang!
                    </span>
    
                    <div class="text-center p-b-30">
                        <span class="txt3">
                            di Website Setoran Hafalan Santri<br>
                        </span>
                    </div>
    
                    <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist" >
                        <li class="nav-item" role="presentation" >
                            <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="/" role="tab"
                            aria-controls="pills-register" aria-selected="false">Santri</a>                                 
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="/loginUstad" role="tab"
                            aria-controls="pills-login" aria-selected="true" style="background-color:#8566F9">Ustad</a>
                        </li>
                    </ul>
                            
                    {% comment %} form login {% endcomment %}
                    <form method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                              <input type="text" class="form-control" placeholder="Username" name="username" id="username">
                            </div>
                          </div>
                          
                          <hr class="hr-xs">
                
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
                              <input type="password" class="form-control" placeholder="Password" name="password" id="password">
                            </div>
                          </div>                
                
                        <div class="container-login100-form-btn" >
                            <button type="submit" class="login100-form-btn" style="background-color:#8566F9" >
                                Masuk
                            </button>
                        </div>
                    </form>
            </div>
    
        </div>

        

{% endblock konten %}