{% extends 'ustad/template_deskripsi.html' %}\
{% load static %}
{% block page_title %}Dayahku| Materi {% endblock page_title %}

{%block konten%} 
<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{% static 'img/task.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0 d-flex gap-2 w-100 justify-content-between" >Kelas Beginner</h6>
            <p class="mb-0 opacity-75 d-flex gap-2 w-100 justify-content-between">Pengajar : </p>
          </div>
        </div>
      </a><br>


    <ul class="nav nav-pills d-flex justify-content-evenly">
        <li class="nav-item"><a href="/loginUstad/kelas/materi"   style="color:#8566F9"   aria-current="page">Materi</a></li>
        <li class="nav-item"><a href="/loginUstad/kelas/tugas"  aria-current="page">Tugas</a></li>
        <li class="nav-item"><a href="/loginUstad/kelas/siswa"  aria-current="page">Siswa</a></li>                     
    </ul>
</div><br>

<div>
  <button class="btn btn-primary" style="width:100%" href="/loginUstad/kelas/tugas/tambahtugas"><i class="fa fa-plus"></i> Tambah Materi</button>
</div><br>
{% comment %} daftar tugas disini {% endcomment %}
<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
  <img src="{% static 'img/task.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
  
  <div class="d-flex gap-2 w-100 justify-content-between">
    <div>
      <h6 class="mb-0 d-flex gap-2 w-100 justify-content-between" >Judul Materi</h6>
      <p class="mb-0 opacity-75 d-flex gap-2 w-100 justify-content-between">Deskripsi Materi </p>
    </div>
  </div>
</a><br>
<a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
  <img src="{% static 'img/task.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
  
  <div class="d-flex gap-2 w-100 justify-content-between">
    <div>
      <h6 class="mb-0 d-flex gap-2 w-100 justify-content-between" >Judul Materi</h6>
      <p class="mb-0 opacity-75 d-flex gap-2 w-100 justify-content-between">Deskripsi Materi </p>
    </div>
  </div>
</a><br>

{%endblock konten%}