{% extends 'ustad/template_main.html' %}\
{% load static %}

{% block page_title %}Dayahku | Input Tugas{% endblock page_title %}

{%block konten%} 
    <h1 style="color: #FFBF59; font-family:Lobster"></h1>
    <ul class="nav nav-pills d-flex justify-content-start">
      <li class="nav-item"><a href="/loginUstad/kelas/tugas"   style="color:#8566F9"  aria-current="page">Kembali</a></li>
  </ul><br>    
    <div class="list-group">
        <span> Tambah Tugas</span><br>

      {% comment %} Card Tugas {% endcomment %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-outline mb-4 justify-content-between ">
                <label class="d-flex justify-content-start" for="judul_tugas">Judul Tugas</label>
                {{form.judul_tugas}}               
            </div>
        
            <div>
                <label class="d-flex justify-content-start" for="deskripsi_tugas">Deskripsi Tugas</label>
                {{form.deskripsi_tugas}}
            </div><br>

            <div>
                <label class="d-flex justify-content-start" for="batas_waktu">Batas Waktu</label>
                {{form.batas_waktu}}
            </div><br>            
            
            <label class="d-flex justify-content-start" for="input_file">Input File</label>
            {{form.input_file}}<br>  

            <div>
            <button type="reset " class="btn btn-danger" ng-click="reset()">Reset</button>
            <button type="Submit" class="btn btn-primary" ng-click="vm.upload()" ng-disabled="!vm.file">Upload</button>
            </div>
        </form>
    </div>
    
{%endblock konten%}